/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/Central-Business-District.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

.header {
    background-color: #07070792;
    width: 100%;
    padding: 20px 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}

.header .logo-image {
    height: 50px; /* Base height */
    width: auto; /* Keeps aspect ratio */
    transform: scale(2); /* Scale the image if needed */
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 50px;
}

.header .title {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.header .header-right {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header .header-right a {
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0px 5px;
    color: #ffffff;
    margin-right: 20px;
    transition: background-color 0.3s;
}

.header .header-right a:hover {
    background-color: darkgreen;
    border-radius: 4px;
}

.header .header-right a.Admin {
    background-color: #69dc63;
    color: white;
    border-radius: 4px;
    margin-right: 50px;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin:auto;
    min-width: 400px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #2ca38a;
    color: white;
    font-weight: bold;
}
.admin_table{
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
}

tbody tr {
    background-color: #ffffff; /* Default background color for rows */
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3; /* Background color for alternating rows */
}

tbody tr:hover {
    background-color: #e7e7e7; /* Background color for hovered row */
}


/* CSS for the done users button */
.done-users-button {
    position: absolute;
    bottom: 40px;
    left: 85%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it appears above other elements */
    text-align: center;
}

.done-users-button button {
    background-color: #69dc63;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.done-users-button button:hover {
    background-color: #007f64; /* Darker shade for hover */
}

.delete-icon {
    color: red; /* Red color for delete icon */
}

.done-icon {
    color: #69dc63; /* Green color for done icon */
}

.details-icon {
    color: blue; /* Blue color for details icon */
}
